//colors
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

//fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
$non-body-font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
$body-font-family: 'Open Sans', sans-serif;

//resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $very-dark-blue;
    font-size: 13px;
}

li {
    list-style-type: none;
}

h1, h2, h3 {
    font-family: $non-body-font-family;
    font-weight: 700;
    margin-bottom: 0.75em;
}

p {
    margin-bottom: 0.75em;
}

//classes
.container {
    width: 90%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.text-area {
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
}

.img-area {
    flex-basis: 50%;
    justify-content: center;
    img {
        width: 100%;
    }
}

.row {
    gap: 5em;
}